html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #222;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav a:link {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #8f2440;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

ol li {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

article header {
  font-weight: bold;
  font-size: 1.5rem;
}

q {
  quotes: "“" "”";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote footer {
  font-size: .8rem;
  font-style: italic;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

.comvar li {
  list-style-type: lower-greek;
}

.data {
  font-style: italic;
}

dt {
  font-weight: bold;
}

.tags li {
  font-size: .8rem;
  list-style-type: circle;
}

footer {
  font-size: .8rem;
}

footer a:link {
  text-decoration: none;
  color: #8f2440;
  font-style: normal;
}

footer a:hover {
  color: #3f1622;
  text-decoration: underline;
  font-style: normal;
}
